#page-landing{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container img {
    height: 15rem;
    margin-top: 0px;
}

.logo-container {
    text-align: center;
    margin-bottom: 3.2rem;
}

#form-control .input-form label{
    font-size: 1.8rem;
}

#form-control .input-form input{
   width: 100%;
   height: 3.6rem;
   margin-top: 0.8rem;
   border-radius: 0.8rem;
   color: #adadad;
   border: 1px solid var(--color-border-input) !important; 
   outline: none;
}

.buttons-container {
    display:flex;
    justify-content: center;
    margin: 3.2rem 0;
}

.buttons-container a {
    width: 30rem;
    height: 5.4rem;
    border-radius: 0.4rem;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none; 
    transition: background-color 0.2s;
    color:var(--color-text-dark);
    font-size: 1.8rem;
    background:var(--color-button-dark); 
}

#input-login {
    margin-bottom: 10px;
}

.login button{
    border: none;
    background-color: transparent;
}
.button-control-login{
    border: 2px solid var(--color-blue);
    border-radius: 20px;
    width: 30rem;
    height: 6rem;
    text-decoration: none;
    outline: 0;
  }
@media (min-width: 900px){
    #page-landing-content{
        width: 25%;
    }
    
#form-control .input-form input{
    width: 25rem; 
 }
}