:root {
    --color-blue: #00c2cb; 
    --color-background-header: #00c2cb;
    --color-border-input:#e4e4e4;
    --color-red:#df3d3d;
    --color-input-content:#6b6b6b;
    font-size: 60%;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html, body , #root {
      height: 100vh;
  }


  body,input,button,textarea{
    font: 500 1.6rem Poppins;
  }

  .container{
      width: 100vw;
  }

  @media(min-width: 900px){
    :root {
        font-size: 62.5%;
    }
    #form-control{
      width: 500px;
      margin: 0 auto;
    }
  }