:root {
    /* --color-background-purple: #13001d; */
    --color-blue: #00c2cb; 
    --color-background-header: #00c2cb;
    --color-border-input:#e4e4e4;
    --color-red:#df3d3d;
    font-size: 60%;
  }

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  html, body , #root {
      height: 100vh;
  }


  body,input,button,textarea{
    font: 500 1.6rem Poppins;
  }

  .container{
      width: 100vw;
  }

  @media(min-width: 700px){
    :root {
        font-size: 62.5%;
    }
  }