#top-bar-container{
    font-size: 1.8rem;
} 

.content-item::-webkit-scrollbar{
    width: 0;
}
.content-item{
    overflow-x: auto;
}

.content-item div{
line-height: 90px;
text-align: center;
} 

.list-table{
    width: 100%;
}

.thead-table{
    text-align: center;
}

.tbody-table{
    text-align: center;
}

.edit-button{
    width: 20px;
}

.delete-button{
    width: 35px;
}

thead{
    background-color: #dadada;
}
@media(min-width: 700px){
    #top-bar-container{
        font-size: 5.8rem;
        
    } 
  }